<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<style>
html{
    position:relative;
    min-height: 100%;
}
.footer{
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkslategray;
    color: white;

}
</style>
<footer class="footer">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Address - 1</h3>
            <h3>NARAYANA Tech House</h3>
            <p>Flat. No: 402,</p>
            <p>Near to Metro Station</p>
            <p>SR Nagare</p>
            <p>Hyderabad</p>
        </div>
        <div class="col-md-4">
             <h3>Address - 2</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and</p>
        </div>
        <div class="col-md-4">
            <h3>Address - 3</h3>
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and</p>
        </div>
    </div>
</div>
</footer>
</body>
</html>